
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/Wine/商品详情/商品详情显示_files/pushData.txt" charset="utf-8" async="" type="text/javascript"></script>
    <script src="~/Wine/商品详情/商品详情显示_files/visittrack.js" async="" type="text/javascript"></script>
    <script src="~/Wine/商品详情/商品详情显示_files/mvl.js" async="" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>商品详情 </title>
    <meta name="Keywords" content="【酒仙甄选】 潭酒 酱潭世家 固态纯粮 酱香型白酒 *6 整箱">
    <meta name="Description" content="酒仙网在线提供【酒仙甄选】 潭酒 酱潭世家 固态纯粮 酱香型白酒 *6 整箱-白酒，同时包括【酒仙甄选】 潭酒 酱潭世家 固态纯粮 酱香型白酒 *6 整箱商品图片、参数、评论、购买指南等信息，买真酒 就上酒仙网！">

    <link href="~/Wine/商品详情/商品详情显示_files/a.css" rel="stylesheet" type="text/css">
    <script src="~/Wine/商品详情/商品详情显示_files/mv.js" async="" type="text/javascript"></script>
    <script src="~/Wine/商品详情/商品详情显示_files/mba.js" async="" type="text/javascript"></script>
    <script src="~/Wine/商品详情/商品详情显示_files/mvl.js" async="" type="text/javascript"></script>
    <script type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/a"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <link href="~/css/bootstrap.css" rel="stylesheet" />

    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bsStatic.js"></script>
    <script src="~/Wine/商品详情/商品详情显示_files/ntkfstat.js" charset="utf-8" async="" type="text/javascript"></script>
    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bs-engine.js"></script>
    
    
    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bsMore.js"></script>
    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bshareS1.js"></script>
    
    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bshareS887.js"></script>
    
    <script src="~/Wine/商品详情/商品详情显示_files/userinfo.php" charset="utf-8" async="async" type="text/javascript"></script>
    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bshare_view.html"></script>
    
    
    <script data-requiremodule="lang" src="~/Wine/商品详情/商品详情显示_files/zh_cn.js" charset="utf-8" async="async" type="text/javascript"></script>
    <script data-requiremodule="chatManage" src="~/Wine/商品详情/商品详情显示_files/chat.js" charset="utf-8" async="async" type="text/javascript"></script>
    <script data-requiremodule="MQTT" src="~/Wine/商品详情/商品详情显示_files/mqtt31.js" charset="utf-8" async="async" type="text/javascript"></script>
    <script data-requiremodule="Connection" src="~/Wine/商品详情/商品详情显示_files/mqtt.js" charset="utf-8" async="async" type="text/javascript"></script>
    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bsPlatforms.js"></script>
    
</head>
<body>
    <div style="left: -10px; top: -10px; visibility: hidden; display: none; width: 1px; height: 1px;" id="nTalk_post_hiddenElement"></div>


    <!-- 全站公共url变量 -->


    <script src="~/Wine/商品详情/商品详情显示_files/skipmobileweb.js"></script>
    <script type="text/javascript">isMobile();</script>
     <style type="text/css">
        html, body, div, ul, li {
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        .addcount {
            width: 200px;
            margin: 50px auto;
        }

            .addcount a {
                width: 20px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                background: #ffa800;
                color: #fff;
                display: inline-block;
            }

            .addcount input {
                width: 50px;
                height: 20px;
                text-align: center;
                vertical-align: middle;
            }
    </style>
    <div class="topHeader">
        <div class="topHeaderCon">
            <div class="topHeaderLeft" name="_new_login_status_panel">
                <div class="clearfix">
                    <p class="greeting">欢迎来酒仙网！</p>
                    <a class="headerLogin" href="/User/Login" rel="nofollow">请登录</a>
                    <a class="headerReg" href="/User/Regist" rel="nofollow">免费注册</a>
                </div>
            </div>
            <div class="topHeaderRight">
                <ul>
                    <li class="hd-n1 dropTitle">
                        <div class="myJiuxian"><a href="/UserMain/Index" target="_blank" rel="nofollow">我的酒仙</a><s class="publicIcon"></s></div>
                        <div class="myJiuxianBox dropTitleBox clearfix">
                            <a href="#" target="_blank" rel="nofollow">我的订单</a>
                            <a href="#" target="_blank" rel="nofollow">物流跟踪</a><a href="/MyCoupon/index" target="_blank" rel="nofollow">我的优惠券</a>
                        </div>
                    </li>
                    <li class="hd-n2"><a href="#" target="_blank" rel="nofollow">CEO邮箱</a></li>
                    <li class="hd-n3"><i class="publicIcon"></i><a href="/Shop/ShopIndex" target="_blank" rel="nofollow">购物车<b class="qty jx_car_num">&nbsp;0&nbsp;</b>件</a></li>
                    <li class="hd-n4"><a href="#" target="_blank">CLUB会员</a><s></s></li>
                    <li class="hd-n6"><a href="#" target="_blank">招商入驻</a><s></s></li>
                    <li class="hd-n5"><a href="#" target="_blank"><i class="publicIcon"></i>手机逛酒仙</a><s></s><div class="erm2015922"><img alt="手机酒仙网" src="~/Wine/酒仙网-白酒、红酒、洋酒、保健酒、黄酒、酒具官方旗舰店_files/jxPho-code.jpg" width="80" height="80" /></div></li>
                    <li class="hd-n7 dropTitle">
                        <div class="subNav"><i class="publicIcon"></i><a href="javascript:;">网站导航</a><s class="publicIcon"></s></div>
                        <div class="subNavBox dropTitleBox">
                            <div class="subNav-item  frist ">
                                <div class="snItem-tit"><h3>购物</h3></div>
                                <div class="snItem-con snThere">
                                    <a href="#" target="_blank">白酒</a>
                                    <a href="#" target="_blank">葡萄酒</a>
                                    <a href="#" target="_blank">洋酒</a>
                                    <a href="#" target="_blank">啤酒</a>
                                    <a href="#" target="_blank">保健酒</a>
                                    <a href="#" target="_blank">黄酒</a>
                                </div>
                            </div>
                            <div class="subNav-item  bg ">
                                <div class="snItem-tit"><h3>活动</h3></div>
                                <div class="snItem-con snThere">
                                    <a href="#" target="_blank">口粮专场</a>
                                    <a href="#" target="_blank">进口馆</a>
                                    <a href="#" target="_blank">酒鬼酒</a>
                                    <a href="#" target="_blank">老酒特卖</a>
                                    <a href="#" target="_blank">新品发现</a>
                                    <a href="#" target="_blank">值得买</a>
                                </div>
                            </div>
                            <div class="subNav-item  ">
                                <div class="snItem-tit"><h3>其他</h3></div>
                                <div class="snItem-con snThere">
                                    <a href="#" target="_blank">会员中心</a>
                                    <a href="#" target="_blank">社区</a>
                                    <a href="#" target="_blank">常见问题</a>
                                    <a href="#" target="_blank">招商入驻</a>
                                    <a href="#" target="_blank">酒类资讯</a>
                                    <a href="#" target="_blank">VIP注册</a>
                                </div>
                            </div>
                            <div class="subNav-item bg">
                                <p class="sn-Tel"><span>咨询热线：</span><b>400-617-9999</b></p>
                            </div>
                        </div>
                    </li>
                    <li class="hd-n8 dropTitle">
                        <div class="cusService"><i class="publicIcon"></i><a href="javascript:;" rel="nofollow">客户服务</a><s class="publicIcon"></s></div>
                        <div class="cusServiceBox dropTitleBox clearfix"><a href="#" target="_blank" rel="nofollow">常见问题</a><a href="#" target="_blank" rel="nofollow">配送说明</a><a href="http://help.jiuxian.com/view-5-123.htm#bz_1" target="_blank" rel="nofollow">售后服务</a></div>
                    </li>
                    <li class="hd-n9"><span>客服热线</span><b class="servPhone">400-617-9999</b></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="midHeader">
        <div class="midHeaderCon">
            <div class="headerLogo">
                <p class="jxwLogo"><a href="http://www.jiuxian.com/" target="_blank"><img alt="酒仙网" src="~/Wine/商品详情/商品详情显示_files/logo.png" height="65" width="137" /></a></p>
                <p><a name="home_logogif" href="http://shop.jiuxian.com/brand-381/activity-3293.htm" target="_blank"><img alt="" src="~/Wine/商品详情/商品详情显示_files/908ee50859ee4c6bb8aec9fadd634c38.gif" height="65" width="110" /></a></p>
            </div>



        </div>
    </div>
    <!--页头end--><!--导航-->
    <div class="navWrap">
        <div class="nav">
            <div class="navCategoryMenu">
                <h2>全部商品分类</h2>
            </div>
            <!--横导航 start -->
            <ul class="navList">
                <li class="home on"><a name="home_zhudaoshouye" class="channel" id="httpwwwjiuxiancom" href="/Home/HomePage">首页</a></li>
                <li><a name="home_zhudao1" class="channel" id="httpshopjiuxiancombrand-383activity-1981htm" href="/Coupon/Couponindex" target="_blank">领券中心</a></li>
                <li><a name="home_zhudao2" class="channel" id="httpshopjiuxiancombrand-41activity-3399htmsource23" href="/Winespecial/WinespecialIndex" target="_blank">酒鬼酒专场</a><span class="hot publicIcon"></span></li>
                <li><a name="home_zhudao3" class="channel" id="httpshopjiuxiancomindex-1171activity-3405htm" href="/Buy/BuyIndex" target="_blank">值得买</a><span class="hot publicIcon"></span></li>
                <li><a name="home_zhudao4" class="channel" id="httpwinejiuxiancom" href="#" target="_blank">葡萄酒馆</a></li>
                <li><a name="home_zhudao5" class="channel" id="httpshopjiuxiancombrand-386activity-3455htm" href="#" target="_blank">自营甄选</a><span class="hot publicIcon"></span></li>
                <li><a name="home_zhudao6" class="channel" id="httpspiritsjiuxiancom" href="#" target="_blank">洋酒馆</a></li>
                <li><a name="home_zhudao7" class="channel" id="httpshopjiuxiancombrand-382activity-2932htm" href="/NewGoods/NewGoodsindex" target="_blank">新品</a></li>
                <li><a name="home_zhudao8" class="channel" id="httpshopjiuxiancombrand-381activity-2207htm" href="#" target="_blank">CLUB</a></li>
            </ul>


        </div>
    </div>

    <div style="margin-left:25%;margin-right:25%;position:relative;top:-250px;left:50px">

        <div>
            <div style="position:relative;top:450px;left:200px">
                <table style="margin-left:230px;">
                    <tr>
                        <td style="font-size:25px;"> 名称:@ViewBag.goods.GoodsName</td>
                    </tr>
                    <tr>
                        <td style="font-size:25px;"> 度数:@ViewBag.goods.GoodsDegree</td>
                    </tr>
                    <tr>
                        <td style="font-size:25px;">香型:@ViewBag.goods.AromaName</td>
                    </tr>
                    <tr>
                        <td style="font-size:25px;"> 产地： @ViewBag.goods.PlaceName</td>
                    </tr>
                    <tr>
                        <td style="font-size:25px;"> 品牌：@ViewBag.goods.BrandName</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="addcount" style="width: 200px;height: 10px;margin-top: 20px;margin-bottom: 20px;">
                                <a class="J_minus" href="javascript:;">-</a>
                                <input type="text"  id="txtnum" class="J_input" value="1" />
                                <a class="J_add" href="javascript:;">+</a>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:25px;">
                            @if (ViewBag.conllect == 1)
                            {
                                <img src="~/images/xin1.png" class="isConllect" />
                                @*<input id="Button1" type="button" value="已收藏" class="isConllect" />*@

                            }
                            else
                            {
                                <img src="~/images/xin2.png" class="isConllect" />
                                @*<input id="Button1" type="button" value="未收藏" class="isConllect" />*@
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="Button1" type="button" value="添加到购物车" class="btn btn-danger" onclick="joinshopCar()" />
                        </td>

                    </tr>
                </table>
            </div>



            <table>
                <tr>
                    <td>
                        <img src="@ViewBag.goods.GoodsImg" style="height:600px;width:350px;" />
                    </td>
                </tr>

            </table>

        </div>

        <div style="margin-top:25px;">
            @foreach (var item in ViewBag.imgs)
            {
                <img src="@item.pictureUrl" alt="" />
            }

        </div>



    </div>
    <!--页脚-->
    <div class="footer">
        <div class="footerTopBox">
            <div class="footerTop">
                <div class="footerContact"><i class="publicIcon"></i><b>400-617-9999</b><span>客服热线</span><span>9:00-23:00</span><span>贴心服务</span></div>
                <div class="footerTopRight"><div class="ftRight-tit">优惠促销早知道</div><div class="ftRight-form"><input id="subscribe_email" type="text" name="" /><span>请输入您的邮箱地址</span><i class="publicIcon" id="subscribe_but"></i></div></div>
            </div>
            <div class="footerServices">
                <ul class="clearfix">
                    <li class="servicesItme01">
                        <h3><i class="publicIcon"></i><span>新手入门</span></h3>
                        <p><a href="http://special.jiuxian.com/topic/zpbz/zhengpin.html" target="_blank" rel="nofollow">购物保障</a></p>
                        <p><a href="http://help.jiuxian.com/view-1-112.htm" target="_blank" rel="nofollow">服务协议</a></p>
                        <p><a href="http://help.jiuxian.com/view-1-113.htm" target="_blank" rel="nofollow">发票说明</a></p>
                    </li>
                    <li class="servicesItme02">
                        <h3><i class="publicIcon"></i><span>常见问题</span></h3>
                        <p><a href="http://help.jiuxian.com/view-2-114.htm" target="_blank" rel="nofollow">红包使用</a></p>
                        <p><a href="http://help.jiuxian.com/view-2-115.htm" target="_blank" rel="nofollow">返现使用</a></p>
                        <p><a href="http://help.jiuxian.com/view-2-116.htm" target="_blank" rel="nofollow">兑换码</a></p>
                    </li>
                    <li class="servicesItme03">
                        <h3><i class="publicIcon"></i><span>配送说明</span></h3>
                        <p><a href="http://help.jiuxian.com/view-3-118.htm#delivery_02" target="_blank" rel="nofollow">配送时间</a></p>
                        <p><a href="http://help.jiuxian.com/view-3-119.htm#delivery_03" target="_blank" rel="nofollow">配送费用</a></p>
                        <p><a href="http://help.jiuxian.com/view-3-117.htm#delivery_01" target="_blank" rel="nofollow">配送范围</a></p>
                    </li>
                    <li class="servicesItme04">
                        <h3><i class="publicIcon"></i><span>支付方式</span></h3>
                        <p><a href="http://help.jiuxian.com/view-4-120.htm#pay_1" target="_blank" rel="nofollow">货到付款</a></p>
                        <p><a href="http://help.jiuxian.com/view-4-121.htm#pay_2" target="_blank" rel="nofollow">在线支付</a></p>
                        <p><a href="http://help.jiuxian.com/view-4-122.htm#pay_3" target="_blank" rel="nofollow">线下支付</a></p>
                    </li>
                    <li class="servicesItme05">
                        <h3><i class="publicIcon"></i><span>售后服务</span></h3>
                        <p><a href="http://help.jiuxian.com/view-5-123.htm#bz_1" target="_blank" rel="nofollow">品质保证</a></p>
                        <p><a href="http://help.jiuxian.com/view-5-124.htm#bz_2" target="_blank" rel="nofollow">退换货政策</a></p>
                        <p><a href="http://help.jiuxian.com/view-5-125.htm#bz_3" target="_blank" rel="nofollow">退换货流程</a></p>
                    </li>
                    <li class="servicesItme06">
                        <h3><i class="publicIcon"></i><span>特色服务</span></h3>
                        <p><a href="http://jifen.jiuxian.com/club_index.htm" target="_blank">会员俱乐部</a></p>
                        <p><a href="http://member.jiuxian.com/company.htm" target="_blank" rel="nofollow">企业客户</a></p>
                        <p><a target="_blank" href="http://forum.jiuxian.com/">酒仙社区</a></p>
                    </li>
                    <li class="jxMicroblogging">
                        <div class="item sinaMb"><div class="sinaMbCom clearfix"><a href="http://weibo.com/jiuxianwang?sudaref=www.so.com" target="_blank" rel="nofollow"><i class="publicIcon"></i></a><a href="http://weibo.com/jiuxianwang?sudaref=www.so.com" target="_blank" rel="nofollow">酒仙新浪微博</a></div></div>
                        <div class="item weixin"><div class="weixinCon clearfix" flag="hide"><i class="publicIcon"></i><a id="jxWeixin" href="javascript:;" target="_blank" rel="nofollow">酒仙微信</a></div><div class="weixinCode" id="weixinCode"><img src="~/Wine/酒仙网-白酒、红酒、洋酒、保健酒、黄酒、酒具官方旗舰店_files/weixin-code.jpg" /></div></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footerBotBox">
            <div class="footerBot clearfix">
                <div class="footerBotLeft">
                    <p class="footerInfo">
                        <a href="http://help.jiuxian.com/view-0-105.htm" target="_blank" rel="nofollow">公司简介<i></i></a>
                        <a href="http://help.jiuxian.com/view-0-106.htm" target="_blank" rel="nofollow">管理团队<i></i></a>
                        <a href="http://help.jiuxian.com/view-0-109.htm" target="_blank" rel="nofollow">媒体报道<i></i></a>
                        <a href="http://help.jiuxian.com/view-0-110.htm" target="_blank" rel="nofollow">联系我们<i></i></a>
                        <a href="http://www.jiuxian.com/links.htm" target="_blank">友情链接<i></i></a>
                        <a href="http://www.jiuxian.com/sitemap.htm" target="_blank">网站地图<i></i></a>
                        <a href="http://www.jiuxian.com/allbrands.htm" target="_blank">品牌大全<i></i></a>
                    </p>
                    <p class="copyright">
                        北京酒仙网络科技有限公司&nbsp;&nbsp;©&nbsp;&nbsp;酒仙
                        网&nbsp;&nbsp;&nbsp;2011&nbsp;&nbsp;jiuxian.com&nbsp;&nbsp;All&nbsp;&nbsp;&nbsp;Rights&nbsp;Reserved&nbsp;&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备17043395号</a>&nbsp;&nbsp;&nbsp;京公网安备1101050188221
                    </p>

                    <p class="friendLink">

                        <span class="linkWidth">
                            <a href="http://www.jiuxian.com/" target="_blank">酒仙网白酒</a>|
                            <a href="http://wine.jiuxian.com/" target="_blank">酒仙网葡萄酒</a>|
                            <a href="http://help.jiuxian.com/view-6-298.htm" target="_blank">开放平台招商</a>|
                            <a href="http://tuan.jiuxian.com/" target="_blank">酒仙网团购</a>|
                        </span>
                        <a href="http://www.jiuxian.com/links.htm" target="_blank" class="moreLink">更多</a>
                    </p>
                    <p class="footerAddr" style="color:#999; line-height:22px;"><span>统一社会信用代码&nbsp;&nbsp;91110302306646672B&nbsp;&nbsp;&nbsp;食品流通许可证编号&nbsp;&nbsp;JY11131010328793&nbsp;&nbsp;&nbsp;</span></p>
                    <p class="footerAddr" style="color:#999; line-height:22px; padding-bottom:7px;"><span>地址：北京市北京经济技术开发区经海五路58号院8幢4层</span></p>
                    <p class="copybot">
                        <script type="text/javascript" src="~/Wine/酒仙网-白酒、红酒、洋酒、保健酒、黄酒、酒具官方旗舰店_files/seallogo.dll"></script>
                        <script id="kx_script" async="" cid="kx_verify" src="~/Wine/酒仙网-白酒、红酒、洋酒、保健酒、黄酒、酒具官方旗舰店_files/icon3.js" size="0"></script><span id="kx_verify" style="float: left; padding-right: 6px; display: inline-block; position: relative; width: 128px; height: 47px;"><a id="kx_verify_link" href="https://ss.knet.cn/verifyseal.dll?sn=2011040600100007749&amp;a=1&amp;pa=0.18982519629236627" tabindex="-1" target="_blank" kx_type="图标式" rel="nofollow"><img src="~/Wine/酒仙网-白酒、红酒、洋酒、保健酒、黄酒、酒具官方旗舰店_files/cnnic.png" style="border:0; position: absolute; top: 0px; left: 0px;" w="128" h="47" oncontextmenu="return false;" alt="可信网站" width="128" height="47" /></a></span>
                        <script type="text/javascript">
                            (function () { var _kxs = document.createElement('script'); _kxs.id = 'kx_script'; _kxs.async = true; _kxs.setAttribute('cid', 'kx_verify'); _kxs.src = ('https:' == document.location.protocol ? 'https://ss.knet.cn' : 'http://rr.knet.cn') + '/static/js/icon3.js?sn=2011040600100007749&tp=icon3'; _kxs.setAttribute('size', 0); var _kx = document.getElementById('kx_verify'); _kx.parentNode.insertBefore(_kxs, _kx); })();
                        </script>
                        <a href="http://img01.jiuxian.com/img1/nsy/icp01.jpg" target="_blank" rel="nofollow"><img src="~/Wine/酒仙网-白酒、红酒、洋酒、保健酒、黄酒、酒具官方旗舰店_files/copyBot03.jpg" width="128" height="47" /></a>

                    </p>
                    <p class="footerPro" style="padding:11px 0 6px;">购买前请确认达到法定饮酒年龄！酒仙网不销售任何含酒精产品给18岁以下人士！</p>
                </div>
                <div class="footerBotCode">
                    <div class="jxPho-code"><p class="codePic"><img alt="手机酒仙网" src="~/Wine/酒仙网-白酒、红酒、洋酒、保健酒、黄酒、酒具官方旗舰店_files/jxPho-code.jpg" width="80" height="80" /></p><p class="codeText">手机酒仙网</p></div>
                    <div class="jkd-code"><p class="codePic"><img alt="微信公众号" src="~/Wine/酒仙网-白酒、红酒、洋酒、保健酒、黄酒、酒具官方旗舰店_files/jx-wxgzh.png" width="80" height="80" /></p><p class="codeText">微信公众号</p></div>
                </div>
            </div>
        </div>
    </div>
    <!--页脚end-->

    <script>
   $(function () {
        $(".isConllect").click(function () {
            fun(1,@ViewBag.goods.id);
        })
    })
    function fun(userId, goodsId) {
        $.ajax({
            type: "get",
            url: 'http://localhost:50169/api/Goodscollect/SetCollect',
            data: { userId: userId, goodsId: goodsId},
            success: function (result) {
                if (result == 1) {
                    $(".isConllect").attr("src","/images/xin1.png");
                }
                else if (result == 2) {
                      $(".isConllect").attr("src","/images/xin2.png");
                }
                else {

                }
            }
        })
        }
            //加入购物车
    function joinshopCar(goodsId) {
        goodsId=@ViewBag.goods.id;
        var num = $("#txtnum").val();
        var date = {
            "id": 0,
            "goodsId": goodsId,
            "usersId": 1,
            "num": num
        };
        var val = JSON.stringify(date);
        $.ajax({
            url: 'http://localhost:50169/api/Collection/InsertShopCart',
            data: val,
            type: "post",
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            dataType: 'json',
            success: function (data) {
                if (data > 0) {
                    alert("添加购物车成功");
                }
                else {
                    alert("添加购物车失败");
                }
            }
        })
        }

        //数量+1 / -1
        $('.addcount').each(function () {
            var _this = $(this);
            var add = $(_this).find(".J_add");//添加数量
            var reduce = $(_this).find(".J_minus");//减少数量
            var num = 1;//数量初始值
            var num_txt = $(_this).find(".J_input");//接受数量的文本框
            $(add).click(function () {
                num = $(num_txt).val();
                num++;
                num_txt.val(num);

            });
            /*减少数量的方法*/
            $(reduce).click(function () {
                //如果文本框的值大于0才执行减去方法
                num = $(num_txt).val();
                if (num > 0) {
                    //并且当文本框的值为1的时候，减去后文本框直接清空值，不显示0
                    if (num == 1) {
                        num--;
                        num_txt.val("1");
                    }
                    //否则就执行减减方法
                    else {
                        num--;
                        num_txt.val(num);
                    }

                }
            });
        })
    </script>
</body>
</html>