
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/Wine/商品详情/商品详情显示_files/pushData.txt" charset="utf-8" async="" type="text/javascript"></script>
    <script src="~/Wine/商品详情/商品详情显示_files/visittrack.js" async="" type="text/javascript"></script>
    <script src="~/Wine/商品详情/商品详情显示_files/mvl.js" async="" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>商品详情 </title>
    <meta name="Keywords" content="【酒仙甄选】 潭酒 酱潭世家 固态纯粮 酱香型白酒 *6 整箱">
    <meta name="Description" content="酒仙网在线提供【酒仙甄选】 潭酒 酱潭世家 固态纯粮 酱香型白酒 *6 整箱-白酒，同时包括【酒仙甄选】 潭酒 酱潭世家 固态纯粮 酱香型白酒 *6 整箱商品图片、参数、评论、购买指南等信息，买真酒 就上酒仙网！">

    <link href="~/Wine/商品详情/商品详情显示_files/a.css" rel="stylesheet" type="text/css">
    <script src="~/Wine/商品详情/商品详情显示_files/mv.js" async="" type="text/javascript"></script>
    <script src="~/Wine/商品详情/商品详情显示_files/mba.js" async="" type="text/javascript"></script>
    <script src="~/Wine/商品详情/商品详情显示_files/mvl.js" async="" type="text/javascript"></script>
    <script type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/a"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <link href="~/css/bootstrap.css" rel="stylesheet" />

    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bsStatic.js"></script>
    <script src="~/Wine/商品详情/商品详情显示_files/ntkfstat.js" charset="utf-8" async="" type="text/javascript"></script>
    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bs-engine.js"></script>
    
    
    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bsMore.js"></script>
    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bshareS1.js"></script>
    
    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bshareS887.js"></script>
    
    <script src="~/Wine/商品详情/商品详情显示_files/userinfo.php" charset="utf-8" async="async" type="text/javascript"></script>
    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bshare_view.html"></script>
    
    
    <script data-requiremodule="lang" src="~/Wine/商品详情/商品详情显示_files/zh_cn.js" charset="utf-8" async="async" type="text/javascript"></script>
    <script data-requiremodule="chatManage" src="~/Wine/商品详情/商品详情显示_files/chat.js" charset="utf-8" async="async" type="text/javascript"></script>
    <script data-requiremodule="MQTT" src="~/Wine/商品详情/商品详情显示_files/mqtt31.js" charset="utf-8" async="async" type="text/javascript"></script>
    <script data-requiremodule="Connection" src="~/Wine/商品详情/商品详情显示_files/mqtt.js" charset="utf-8" async="async" type="text/javascript"></script>
    <script charset="utf-8" type="text/javascript" src="~/Wine/商品详情/商品详情显示_files/bsPlatforms.js"></script>
    
</head>
<body>
    <div style="left: -10px; top: -10px; visibility: hidden; display: none; width: 1px; height: 1px;" id="nTalk_post_hiddenElement"></div>


    <!-- 全站公共url变量 -->


    <script src="~/Wine/商品详情/商品详情显示_files/skipmobileweb.js"></script>
    <script type="text/javascript">isMobile();</script>
    
    <div class="topHeader">
        <div class="topHeaderCon">
            <div class="topHeaderLeft" name="_new_login_status_panel"><div class="clearfix"><p class="greeting"><em>hi，</em><span>jxw52743765</span></p><a class="headerExit" href="https://login.jiuxian.com/logout.htm">退出</a><a class="newsNum" href="http://member.jiuxian.com/jxcircle/info_center-0.htm" target="_blank"><em>消息</em><i class="mesNum">5</i></a><a class="newsNum" href="http://member.jiuxian.com/purse/my_gold_coin-1.htm" target="_blank"><em>金币</em><i class="mesNum">60</i></a></div></div>
            <div class="topHeaderRight">
                <ul>
                    <li class="hd-n1 dropTitle">
                        <div class="myJiuxian"><a href="http://member.jiuxian.com/index.htm" target="_blank" rel="nofollow">我的酒仙</a><s class="publicIcon"></s></div>
                        <div class="myJiuxianBox dropTitleBox clearfix">
                            <a href="http://member.jiuxian.com/trademanage/my_order-9.htm" target="_blank" rel="nofollow">我的订单</a>
                            <a href="http://member.jiuxian.com/trademanage/my_order-9.htm" target="_blank" rel="nofollow">物流跟踪</a><a href="http://member.jiuxian.com/purse/my_coupon-11.htm" target="_blank" rel="nofollow">我的优惠券</a>
                        </div>
                    </li>
                    <li class="hd-n2"><a href="http://sale.jiuxian.com/feedback.htm" target="_blank" rel="nofollow">CEO邮箱</a></li>
                    <li class="hd-n3"><i class="publicIcon"></i><a href="http://cart.jiuxian.com/" target="_blank" rel="nofollow">购物车<b class="qty jx_car_num">101</b>件</a></li>
                    <li class="hd-n4"><a href="http://member.jiuxian.com/clubUser/index.htm" target="_blank">CLUB会员</a><s></s></li>
                    <li class="hd-n6"><a href="http://shop.jiuxian.com/index-1171/activity-1577.htm" target="_blank">招商入驻</a><s></s></li>

                    <li class="hd-n5"><a href="http://special.jiuxian.com/mobile/sjgjx/index.html" target="_blank"><i class="publicIcon"></i>手机逛酒仙</a><s></s><div class="erm2015922"><img alt="手机酒仙网" src="~/Wine/商品详情/商品详情显示_files/jxPho-code_002.jfif" height="80" width="80"></div></li>
                    <li class="hd-n7 dropTitle">
                        
                        
                    </li>
                    
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="midHeader">
        <div class="midHeaderCon">
            <div class="headerLogo">
                <p class="jxwLogo"><a href="http://www.jiuxian.com/" target="_blank"><img alt="酒仙网" src="~/Wine/商品详情/商品详情显示_files/logo.png" height="65" width="137"></a></p>
                <p><a name="home_logogif" href="http://shop.jiuxian.com/brand-381/activity-3293.htm" target="_blank"><img alt="" src="~/Wine/商品详情/商品详情显示_files/908ee50859ee4c6bb8aec9fadd634c38.gif" height="65" width="110"></a></p>
            </div>



        </div>
    </div>
    <!--页头end--><!--导航-->
    <div class="navWrap">
        <div class="nav">
            <div class="navCategoryMenu">
                <h2>全部商品分类</h2>
            </div>
            <!--横导航 start -->
            <ul class="navList">
                <li class="home"><a name="home_zhudaoshouye" class="channel" id="httpwwwjiuxiancom" href="http://www.jiuxian.com/">首页</a></li>
                <li><a name="home_zhudao1" class="channel" id="httpshopjiuxiancombrand-383activity-1981htm" href="http://shop.jiuxian.com/brand-383/activity-1981.htm" target="_blank">领券中心</a></li>
                <li><a name="home_zhudao2" class="channel" id="httpshopjiuxiancombrand-41activity-3399htmsource23" href="http://shop.jiuxian.com/brand-41/activity-3399.htm?source=23" target="_blank">酒鬼酒专场</a><span class="hot publicIcon"></span></li>
                <li><a name="home_zhudao3" class="channel" id="httpshopjiuxiancomindex-1171activity-3405htm" href="http://shop.jiuxian.com/index-1171/activity-3405.htm" target="_blank">值得买</a><span class="hot publicIcon"></span></li>
                <li><a name="home_zhudao4" class="channel" id="httpwinejiuxiancom" href="http://wine.jiuxian.com/" target="_blank">葡萄酒馆</a></li>
                <li><a name="home_zhudao5" class="channel" id="httpshopjiuxiancombrand-386activity-3455htm" href="http://shop.jiuxian.com/brand-386/activity-3455.htm" target="_blank">自营甄选</a><span class="hot publicIcon"></span></li>
                <li><a name="home_zhudao6" class="channel" id="httpspiritsjiuxiancom" href="http://spirits.jiuxian.com/" target="_blank">洋酒馆</a></li>
                <li><a name="home_zhudao7" class="channel" id="httpshopjiuxiancombrand-382activity-2932htm" href="http://shop.jiuxian.com/brand-382/activity-2932.htm" target="_blank">新品</a></li>
                <li><a name="home_zhudao8" class="channel" id="httpshopjiuxiancombrand-381activity-2207htm" href="http://shop.jiuxian.com/brand-381/activity-2207.htm" target="_blank">CLUB</a></li>
            </ul>

          
            
        </div>
    </div>

    <div style="margin-left:25%;margin-right:25%;position:relative;top:-250px;left:50px">
        
        <div>
            <div style="position:relative;top:450px;left:200px">
                <table style="margin-left:230px;">
                    <tr>
                        <td style="font-size:25px;"> 名称:@ViewBag.goods.GoodsName</td>
                    </tr>
                    <tr>
                        <td  style="font-size:25px;"> 度数:@ViewBag.goods.GoodsDegree</td>
                    </tr>
                    <tr>
                        <td  style="font-size:25px;">香型:@ViewBag.goods.AromaName</td>
                    </tr>
                    <tr >
                        <td  style="font-size:25px;"> 产地： @ViewBag.goods.PlaceName</td>
                    </tr>
                    <tr  >
                        <td style="font-size:25px;"> 品牌：@ViewBag.goods.BrandName</td>
                    </tr>
                    <tr>
                        <td  style="font-size:25px;">
                            @if (ViewBag.conllect == 1)
                            {
                                <img src="~/images/xin1.png" class="isConllect" />
                                @*<input id="Button1" type="button" value="已收藏" class="isConllect" />*@

                            }
                            else
                            {
                                <img src="~/images/xin2.png" class="isConllect" />
                                @*<input id="Button1" type="button" value="未收藏" class="isConllect" />*@
                            }
                        </td>
                    </tr>
                    <tr>
                        <br />
                        <td>
                            <input id="Button1" type="button" value="添加到购物车" class="btn btn-danger"  onclick="joinshopCar()"/>
                        </td>

                    </tr>
                </table>
            </div>



            <table>
                <tr>
                    <td>
                        <img src="@ViewBag.goods.GoodsImg" style="height:600px;width:350px;" />
                    </td>
                </tr>

            </table>

        </div>

        <div style="margin-top:25px;">
            @foreach (var item in ViewBag.imgs)
            {
                <img src="@item.pictureUrl" alt="" />
            }

        </div>
       
          
  
    </div>

    <script>
   $(function () {
        $(".isConllect").click(function () {
            fun(1,@ViewBag.goods.id);
        })
    })
    function fun(userId, goodsId) {
        $.ajax({
            type: "get",
            url: 'http://localhost:50169/api/Goodscollect/SetCollect',
            data: { userId: userId, goodsId: goodsId},
            success: function (result) {
                alert(result)
                if (result == 1) {
                    $(".isConllect").attr("src","/images/xin1.png");
                }
                else if (result == 2) {
                      $(".isConllect").attr("src","/images/xin2.png");
                }
                else {
                    alert(11)
                }
            }
        })
        }
            //加入购物车
    function joinshopCar(goodsId) {
        goodsId=@ViewBag.goods.id;
        alert(11)
        alert(goodsId)
        var date = {
            "id": 0,
            "goodsId": goodsId,
            "usersId": 1
        };
        var val = JSON.stringify(date);
        $.ajax({
            url: 'http://localhost:50169/api/Collection/InsertShopCart',
            data: val,
            type: "post",
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            dataType: 'json',
            success: function (data) {
                if (data > 0) {
                    alert("添加购物车成功");
                }
                else {
                    alert("添加购物车失败");
                }
            }
        })
    }
    </script>

</body>
</html>