
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="~/Wine/购物车/购物车-我的购物车_files/pushData.txt" charset="utf-8" async="" type="text/javascript"></script>
    <script src="~/Wine/购物车/购物车-我的购物车_files/mv.js" async="" type="text/javascript"></script>
    <script src="~/Wine/购物车/购物车-我的购物车_files/mba.js" async="" type="text/javascript"></script>
    <script src="~/Wine/购物车/购物车-我的购物车_files/mvl.js" async="" type="text/javascript"></script>
    <script src="~/Wine/购物车/购物车-我的购物车_files/visittrack.js" async="" type="text/javascript"></script>
    <script src="~/Wine/购物车/购物车-我的购物车_files/mvl.js" async="" type="text/javascript"></script>
    <title>购物车-酒仙网</title>
    <link href="~/Wine/购物车/购物车-我的购物车_files/a.css" type="text/css" rel="stylesheet" />
    <link href="~/Wine/购物车/购物车-我的购物车_files/cart.css" type="text/css" rel="stylesheet" />
    <script src="~/Wine/购物车/购物车-我的购物车_files/a" type="text/javascript"></script>
    <script src="~/Wine/购物车/购物车-我的购物车_files/shopping-cart-web-pc.js" type="text/javascript"></script>
    <script src="~/Wine/购物车/购物车-我的购物车_files/slider.js"></script>
    <script async="" src="~/Wine/购物车/购物车-我的购物车_files/security.js"></script>
    <script src="~/Wine/购物车/购物车-我的购物车_files/cart.js"></script>
    <script type="text/javascript">
        var recommend_99_Args = { 'pageName': 'cart', 'productIds': ['-'] };
    </script>
</head>
<body>

    <div class="topHeaderWrap">
        <div class="topHeader">
            <div class="topCollect">
                <ul>
                    <li name="_login_status_panel"><span> hi，<span class="userName" title="jxw52743765">jxw52743765</span><span><a href="https://login.jiuxian.com/logout.htm" class="cartlogout">退出</a><a class="newsNum" href="http://member.jiuxian.com/jxcircle/info_center-0.htm" target="_blank"><em>消息</em><i class="mesNum">5</i></a><a class="newsNum" href="http://member.jiuxian.com/purse/my_gold_coin-1.htm" target="_blank"><em>金币</em><i class="mesNum">60</i></a></span></span><i></i></li>
                </ul>
            </div>
            <div class="topRight">
                <ul>
                    <li><a class="myOrder" target="_blank" href="/MyIndent/Index">我的订单</a><i></i></li>
                    <li><a class="userCenter" target="_blank" href="/UserMain/Index">我的酒仙网</a><i></i></li>
                    <li class="hotTel"><span>客服热线</span><strong>400-617-9999</strong></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="midHeader">
        <div class="midHeaderBox">
            <div class="jxwLogo"><p style="background:url(http://img06.jiuxian.com/bill/2014/1226/a347f6723d3141fd9b9b9d464eff6fc7.png) no-repeat;" class="jxwIndex"><a href="http://www.jiuxian.com/"></a></p></div>
            <div class="bayProcess">
                <div class="proPic"></div>
                <div class="proTex"><span class="on">我的购物车</span><span class="on2">确认订单信息</span><span class="on3">成功提交订单</span></div>
            </div>
        </div>
    </div>
    <!--页头end-->

    <input id="isLogin" value="true" ="=" =" type="hidden" />
    <div class="cartMain">
        <div id="cart_container">
            <div class="f-Prompt"><i class="cartIcon"></i><span>温馨提示：自营商品实付满100元免运费，偏远地区满500免运费</span></div>	<div class="cart-t">
                <table>
                    <thead>
                        <tr>
                            <td width="330"><input name='smallBox' id="selectAll" type="checkbox" onclick="setchecked(this.checked)" />全选 </td>
                            <td width="330">商品</td>
                            <td width="330">单价</td>
                            <td width="330">数量</td>
                            <td width="330">小计</td>
                            <td width="330">操作</td>

                        </tr>
                    </thead>
                    <tbody id="await"></tbody>


                </table>
            <a href="javascript:void(0)" onclick="first()">首页</a>
                <a href="javascript:void(0)" onclick="prve()">上一页</a>
                <a href="javascript:void(0)" onclick="next()">下一页</a>
                <a href="javascript:void(0)" onclick="last()">尾页</a>
            </div>
            <div class="cart-gopay-bottom">
                <div class="cart-gopay-left">
                    <label class="check-all "><i class="cartIcon "></i><input name="" value="" type="checkbox" onclick="setchecked(this.checked)"/><span class="checkAllText">全选</span></label>
                    <a href="javascript:;" id="delChecked">删除选中商品</a>
                </div>
                <div class="cart-count">
                    <div class="cart-count-total"><span class="pieces">已选商品<em>2</em>件</span><span class="total">总价（不含运费）：<em>￥188.00</em></span></div>
                </div>
                <div class="cart-gopay-btn"><input id="Button1" type="button" value="去结算" onclick="Close()" /></div>
            </div>


        </div>

    </div>


    <div id="loginPopCon"></div>

    <!--页脚-->


    <style type="text/css">
        .footerBotLeft .footerInfo {
            margin-left: -8px;
        }

        .footerBotLeft p {
            font-family: Arial, Helvetica, sans-serif, "宋体";
        }

        .footerBotLeft .footerInfo a {
            color: #666;
        }

        .footerBotLeft .copyright {
            color: #666;
        }
    </style>

    <script src="~/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="~/Wine/购物车/购物车-我的购物车_files/recommend_99.js"></script>
    <script type="text/javascript" src="~/Wine/购物车/购物车-我的购物车_files/p_code.js"></script>
    <script type="text/javascript" src="~/Wine/购物车/购物车-我的购物车_files/FAI84qYjQk.txt"></script>
    <script type="text/javascript" src="~/Wine/购物车/购物车-我的购物车_files/FAI84qYjQk_002.txt"></script>
    <script type="text/javascript" src="~/Wine/购物车/购物车-我的购物车_files/o_code.js"></script>
    <script>
        function Close() {
            location.href = '/Shop/OrderIndex';
        }
    </script>

</body>
</html>

<script>
    var pageIndex = 1;
    var pageSize = 3;
    var total = 0;
    $(function () {

        getShopCart(pageIndex);

  

    });
    //全选 反选
    function setchecked(checked) {
        $("input[type=checkbox]").attr("checked", checked)
    }

    function getShopCart(index) {
        $.ajax({
            type: "get",
            url: 'http://localhost:50169/api/ShopCart/GetShopCartlist',
            data: { id: 1, pageIndex: index, pageSize: pageSize },
            success: function (result) {
                var tmphtml = "";
                $("#await").empty();
                for (var i = 0; i < result.shopCartList.length; i++) {
                    tmphtml += "<tr>";

                    tmphtml += "<td><input type='checkbox' name='smallBox' value='' /></td>";
                    tmphtml += "<td><img src=" + result.shopCartList[i].goodsImg + "  width='50' height='50' >" + result.shopCartList[i].goodsName + "</td>";
                    tmphtml += "<td>" + result.shopCartList[i].priceNow + "</td>";
                    tmphtml += "<td><input id='Button1' type='button' value='-' onclick='addNum("+this+")' /><input id='Text1' type='text' value='1' /><input id='Button1' type='button' value='+' onclick='addNum(" + this+  ")' /></td>";
                    tmphtml += "<td>小计</td>";
                    tmphtml += "<td><input type='button' value='删除' onclick='joinshopCar(" + result.shopCartList[i].goodsId + ")'/><input type='button' value='移我的收藏' onclick='cancelcollect(" + result.shopCartList[i].goodsId + ")'/></td>";
                    tmphtml += "</tr>";
                }
                $("#await").append(tmphtml);
                total = result.total;
            }
        })
    }

    function addNum(obj) {
     alert(obj)
    }
    //查询
    function search() {
        getShopCart(pageIndex);
    }

    //首页
    function first() {
        pageIndex = 1;

        getShopCart(pageIndex);
    }

    //上页
    function prve() {
        pageIndex = pageIndex > 1 ? pageIndex - 1 : 1;
        getShopCart(pageIndex);
    }

    //下页
    function next() {
        var nums = Math.ceil(total / pageSize);
        pageIndex = pageIndex < nums ? pageIndex + 1 : pageIndex;
        getShopCart(pageIndex);
    }

    //尾页
    function last() {
        pageIndex = Math.ceil(total / pageSize);
        getShopCart(pageIndex);
    }
</script>