<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*<link href="~/Wine/酒-商品搜索-酒仙网_files/index_1200.css" rel="stylesheet" />*@
    <script type="text/javascript" async="" charset="utf-8" src="~/Wine/酒-商品搜索-酒仙网_files/pushData.txt"></script>
    <script type="text/javascript" async="" src="~/Wine/酒-商品搜索-酒仙网_files/mv.js"></script>
    <script type="text/javascript" async="" src="~/Wine/酒-商品搜索-酒仙网_files/mba.js"></script>
    <script type="text/javascript" async="" src="~/Wine/酒-商品搜索-酒仙网_files/visittrack.js"></script>
    <script type="text/javascript" async="" src="~/Wine/酒-商品搜索-酒仙网_files/mvl.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>酒-商品搜索-酒仙网</title>
    <meta name="Keywords" content="酒，酒仙酒" />
    <meta name="Description" content="在酒仙网中找到了22074件酒的类似商品" />
    <script src="~/Wine/酒-商品搜索-酒仙网_files/search-web-pc.js" type="text/javascript"></script>

    <link href="~/Wine/酒-商品搜索-酒仙网_files/a.css" type="text/css" rel="stylesheet" />
    <link href="~/Wine/酒-商品搜索-酒仙网_files/product_list-20180909.css" rel="stylesheet" type="text/css" />
    <link href="~/Wine/酒-商品搜索-酒仙网_files/index_1200.css" type="text/css" rel="stylesheet" id="newLink" />


    <script src="~/Wine/酒-商品搜索-酒仙网_files/a" type="text/javascript"></script>
    <script src="~/Wine/酒-商品搜索-酒仙网_files/jquery.js" type="text/javascript"></script>

    <script src="~/Wine/酒-商品搜索-酒仙网_files/base.js" type="text/javascript"></script>
    <script src="~/Wine/酒-商品搜索-酒仙网_files/list.js" type="text/javascript"></script>
    <script src="~/Wine/酒-商品搜索-酒仙网_files/list_product.js" type="text/javascript"></script>
    <script src="~/Wine/酒-商品搜索-酒仙网_files/slider.js" type="text/javascript"></script>
    <script src="~/Wine/酒-商品搜索-酒仙网_files/coupon_search.js" type="text/javascript"></script>


    <script type="text/javascript">
        // 优惠券信息
        window.jxsearch = {};
        window.jxsearch._couponId = '';
        $(function () {
            // 优惠券
            if (window.jxsearch._couponId) {
                CouponSearchPcJs.getCouponInfo(window.jxsearch._couponId);
                CouponSearchPcJs.getCartInfoByCouponId(window.jxsearch._couponId);
            }

            // 促销
            SearchPcJs.getPriceAndClubPrice();
            SearchPcJs.getProductPromos();
            SearchPcJs.getProductStocks();
            SearchPcJs.getProductMarks();
            //SearchPcJs.getSearchAdv();
            //SearchPcJs.getPopRecommendProducts();
            //SearchPcJs.getProductComments();
        });
    </script>


    <script type="text/javascript" async="" charset="utf-8" src="~/Wine/酒-商品搜索-酒仙网_files/ntkfstat.js"></script>
    <script type="text/javascript" async="async" charset="utf-8" src="~/Wine/酒-商品搜索-酒仙网_files/userinfo.php"></script>
    <script type="text/javascript" async="async" charset="utf-8" src="~/Wine/酒-商品搜索-酒仙网_files/zh_cn.js" data-requiremodule="lang"></script>
    <script type="text/javascript" async="async" charset="utf-8" src="~/Wine/酒-商品搜索-酒仙网_files/chat.js" data-requiremodule="chatManage"></script>
    <script type="text/javascript" async="async" charset="utf-8" src="~/Wine/酒-商品搜索-酒仙网_files/mqtt31.js" data-requiremodule="MQTT"></script>
    <script type="text/javascript" async="async" charset="utf-8" src="~/Wine/酒-商品搜索-酒仙网_files/mqtt.js" data-requiremodule="Connection"></script>
</head>
<body>
    <div id="nTalk_post_hiddenElement" style="left: -10px; top: -10px; visibility: hidden; display: none; width: 1px; height: 1px;"></div>
    <script src="~/Wine/酒-商品搜索-酒仙网_files/skipmobileweb.js"></script>
    <script type="text/javascript">isMobile();</script>
    <script type="text/javascript">
        //获取区域ID并存储到Cookie
        var userArray = getCookie("user_province"); userArray = userArray.split("_"); if (userArray[0] == "" || userArray[0] == undefined) { var url_kc = window.jxdomain.pub + "/getOrgionByRequest.htm?t=" + new Date().getTime(); var proxy_url = "/httpProxyAccess.htm?t=" + new Date().getTime(); jQuery.ajax({ type: "POST", url: proxy_url, data: { target: url_kc }, dataType: "json", success: function (data) { var orgionId = "2"; if (data) { orgionId = data.orgionId } if (orgionId == "") { orgionId = "2" } userArray[0] = orgionId; setCookie("user_province", orgionId, 12); var sa1 = returnArrya(1, orgionId); $(".ajax_deli_city").text(sa1[1]) } }) } else { try { var sa1 = returnArrya(1, userArray[0]); $(".ajax_deli_city").text(sa1[1]) } catch (e) { setCookie("user_province", "2", 12); $(".ajax_deli_city").text("北京") } };
        var header1200 = ""; var header1000 = "";

    </script>
    <div class="topHeader">
        <div class="topHeaderCon">
            <div class="topHeaderLeft" name="_new_login_status_panel">
                <div class="clearfix">
                    <p class="greeting">欢迎来酒仙网！</p>
                    <a class="headerLogin" href="https://login.jiuxian.com/login.htm" rel="nofollow">请登录</a>
                    <a class="headerReg" href="https://login.jiuxian.com/register.htm" rel="nofollow">免费注册</a>
                </div>
            </div>
            <div class="topHeaderRight">
                <ul>
                    <li class="hd-n1 dropTitle">
                        <div class="myJiuxian"><a href="http://member.jiuxian.com/index.htm" target="_blank" rel="nofollow">我的酒仙</a><s class="publicIcon"></s></div>
                        <div class="myJiuxianBox dropTitleBox clearfix">
                            <a href="http://member.jiuxian.com/trademanage/my_order-9.htm" target="_blank" rel="nofollow">我的订单</a>
                            <a href="http://member.jiuxian.com/trademanage/my_order-9.htm" target="_blank" rel="nofollow">物流跟踪</a><a href="http://member.jiuxian.com/purse/my_coupon-11.htm" target="_blank" rel="nofollow">我的优惠券</a>
                        </div>
                    </li>
                    <li class="hd-n2"><a href="http://sale.jiuxian.com/feedback.htm" target="_blank" rel="nofollow">CEO邮箱</a></li>
                    <li class="hd-n3"><i class="publicIcon"></i><a href="http://cart.jiuxian.com/" target="_blank" rel="nofollow">购物车<b class="qty jx_car_num">&nbsp;0&nbsp;</b>件</a></li>
                    <li class="hd-n4"><a href="http://member.jiuxian.com/clubUser/index.htm" target="_blank">CLUB会员</a><s></s></li>
                    <li class="hd-n6"><a href="http://shop.jiuxian.com/index-1171/activity-1577.htm" target="_blank">招商入驻</a><s></s></li>
                    <li class="hd-n5"><a href="http://special.jiuxian.com/mobile/sjgjx/index.html" target="_blank"><i class="publicIcon"></i>手机逛酒仙</a><s></s><div class="erm2015922"><img alt="手机酒仙网" src="~/Wine/酒-商品搜索-酒仙网_files/jxPho-code_002.jpg" width="80" height="80" /></div></li>
                    <li class="hd-n7 dropTitle">
                        <div class="subNav"><i class="publicIcon"></i><a href="javascript:;">网站导航</a><s class="publicIcon"></s></div>
                        <div class="subNavBox dropTitleBox">
                            <div class="subNav-item  frist ">
                                <div class="snItem-tit"><h3>购物</h3></div>
                                <div class="snItem-con snThere">
                                    <a href="http://list.jiuxian.com/1-0-0-0-0-0-0-0-0-0-0-0.htm" target="_blank">白酒</a>
                                    <a href="http://list.jiuxian.com/2-0-0-0-0-0-0-0-0-0-0-0.htm" target="_blank">葡萄酒</a>
                                    <a href="http://list.jiuxian.com/4-0-0-0-0-0-0-0-0-0-0-0.htm" target="_blank">洋酒</a>
                                    <a href="http://list.jiuxian.com/151-0-0-0-0-0-0-0-0-0-0-0.htm" target="_blank">啤酒</a>
                                    <a href="http://list.jiuxian.com/6-0-0-0-0-0-0-0-0-0-0-0.htm" target="_blank">保健酒</a>
                                    <a href="http://list.jiuxian.com/95-0-0-0-0-0-0-0-0-0-0-0.htm" target="_blank">黄酒</a>
                                </div>
                            </div>
                            <div class="subNav-item  bg ">
                                <div class="snItem-tit"><h3>活动</h3></div>
                                <div class="snItem-con snThere">
                                    <a href="http://shop.jiuxian.com/brand-41/activity-3399.htm?source=23" target="_blank">口粮专场</a>
                                    <a href="http://wine.jiuxian.com/" target="_blank">进口馆</a>
                                    <a href="http://shop.jiuxian.com/brand-41/activity-3399.htm?source=23" target="_blank">酒鬼酒</a>
                                    <a href="http://shop.jiuxian.com/brand-371/activity-1069.htm" target="_blank">老酒特卖</a>
                                    <a href="http://special.jiuxian.com/qqsfPage.htm" target="_blank">新品发现</a>
                                    <a href="http://shop.jiuxian.com/index-1171/activity-1524.htm" target="_blank">值得买</a>
                                </div>
                            </div>
                            <div class="subNav-item  ">
                                <div class="snItem-tit"><h3>其他</h3></div>
                                <div class="snItem-con snThere">
                                    <a href="http://jifen.jiuxian.com/club_index.htm" target="_blank">会员中心</a>
                                    <a href="http://forum.jiuxian.com/" target="_blank">社区</a>
                                    <a href="http://help.jiuxian.com/view-2-114.htm" target="_blank">常见问题</a>
                                    <a href="http://shop.jiuxian.com/index-1171/activity-1577.htm" target="_blank">招商入驻</a>
                                    <a href="http://public.jiuxian.com/vip/jumpVipIndex.htm" target="_blank">酒类资讯</a>
                                    <a href="http://public.jiuxian.com/vip/jumpVipReg.htm" target="_blank">VIP注册</a>
                                </div>
                            </div>
                            <div class="subNav-item bg">
                                <p class="sn-Tel"><span>咨询热线：</span><b>400-617-9999</b></p>
                            </div>
                        </div>
                    </li>
                    <li class="hd-n8 dropTitle">
                        <div class="cusService"><i class="publicIcon"></i><a href="javascript:;" rel="nofollow">客户服务</a><s class="publicIcon"></s></div>
                        <div class="cusServiceBox dropTitleBox clearfix"><a href="http://help.jiuxian.com/view-2-424.htm" target="_blank" rel="nofollow">常见问题</a><a href="http://help.jiuxian.com/view-3-100.htm#delivery_04" target="_blank" rel="nofollow">配送说明</a><a href="http://help.jiuxian.com/view-5-123.htm#bz_1" target="_blank" rel="nofollow">售后服务</a></div>
                    </li>
                    <li class="hd-n9"><span>客服热线</span><b class="servPhone">400-617-9999</b></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
