
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" async="" charset="utf-8" src="~/Wine/我的酒仙网 ) 我的订单_files/pushData.txt"></script>
    <script type="text/javascript" async="" src="~/Wine/我的酒仙网 ) 我的订单_files/mv.js"></script>
    <script type="text/javascript" async="" src="~/Wine/我的酒仙网 ) 我的订单_files/mba.js"></script>
    <script type="text/javascript" async="" src="~/Wine/我的酒仙网 ) 我的订单_files/visittrack.js"></script>
    <script type="text/javascript" async="" src="~/Wine/我的酒仙网 ) 我的订单_files/mvl.js"></script>
    <script async="" src="~/Wine/我的酒仙网 ) 我的订单_files/productOfRecommend.html"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="save" content="history" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate" />
  
    <script src="~/Wine/我的酒仙网 ) 我的订单_files/usercenter-web-pc.js" type="text/javascript"></script>
    <title>我的酒仙网 &gt; 我的订单</title>
    <link href="~/Wine/我的酒仙网 ) 我的订单_files/base.css" type="text/css" rel="stylesheet" />
    <link href="~/Wine/我的酒仙网 ) 我的订单_files/header.css" rel="stylesheet" type="text/css" />
    <link href="~/Wine/我的酒仙网 ) 我的订单_files/footer.css" rel="stylesheet" type="text/css" />

    <link href="~/Wine/我的酒仙网 ) 我的订单_files/user.css" rel="stylesheet" type="text/css" />
    <link href="~/Wine/我的酒仙网 ) 我的订单_files/user_nav.css" rel="stylesheet" type="text/css" />

    <script src="~/Wine/我的酒仙网 ) 我的订单_files/jquery_002.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 我的订单_files/jquery.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 我的订单_files/base.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 我的订单_files/region.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 我的订单_files/public.js" type="text/javascript"></script>

    <script src="~/Wine/我的酒仙网 ) 我的订单_files/userCenterCtrlWidth.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 我的订单_files/Slider.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 我的订单_files/position.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 我的订单_files/turn_bottom.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 我的订单_files/easing.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 我的订单_files/usercenter.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 我的订单_files/sidenav.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 我的订单_files/alert.js" type="text/javascript"></script>


    <script type="text/javascript" src="~/Wine/我的酒仙网 ) 我的订单_files/my_order.js"></script>

    <link href="~/Wine/我的酒仙网 ) 我的订单_files/user_1200.css" id="newLink" rel="stylesheet" type="text/css" />
    <!-- <script src="http://misc.jiuxian.com/js/usercenter/Verification.js" type="text/javascript"></script> -->

    <script type="text/javascript" async="" charset="utf-8" src="~/Wine/我的酒仙网 ) 我的订单_files/ntkfstat.js"></script>
    <script type="text/javascript" async="async" charset="utf-8" src="~/Wine/我的酒仙网 ) 我的订单_files/userinfo.php"></script>
    <script type="text/javascript" async="async" charset="utf-8" src="~/Wine/我的酒仙网 ) 我的订单_files/zh_cn.js" data-requiremodule="lang"></script>
    <script type="text/javascript" async="async" charset="utf-8" src="~/Wine/我的酒仙网 ) 我的订单_files/chat.js" data-requiremodule="chatManage"></script>
    <script type="text/javascript" async="async" charset="utf-8" src="~/Wine/我的酒仙网 ) 我的订单_files/mqtt31.js" data-requiremodule="MQTT"></script>
    <script type="text/javascript" async="async" charset="utf-8" src="~/Wine/我的酒仙网 ) 我的订单_files/mqtt.js" data-requiremodule="Connection"></script>
</head>
<body>
    <div id="nTalk_post_hiddenElement" style="left: -10px; top: -10px; visibility: hidden; display: none; width: 1px; height: 1px;"></div>

  

    <script src="~/Wine/我的酒仙网 ) 我的订单_files/skipmobileweb.js"></script>
    <script type="text/javascript">isMobile();</script>
    
  
    
 
 
        <!-- 右侧 -->
        <div class="rightBox">
            <div class="orderTabBox">
                <div class="orderTabWrap">
                    <div class="orderTab">
                        <a href="http://member.jiuxian.com/trademanage/my_order-9.htm" id="allOrder" class="on">全部订单</a>
                        <a href="http://member.jiuxian.com/trademanage/my_order-0.htm" id="waitingPay">待付款<span> 2 </span></a>
                        <a href="http://member.jiuxian.com/trademanage/my_order-5.htm" id="waitingSend">待发货<span> 0 </span></a>
                        <a href="http://member.jiuxian.com/trademanage/my_order-6.htm" id="waitReceived">待收货<span>      0  </span></a>
                    </div>

                    <div class="orderRecycle ">
                        <div class="orderRecycleLin"></div>
                        <div class="orderRecycleWrap">
                            <a href="http://member.jiuxian.com/trademanage/garbageStation.htm"><i class="rec"></i><span>订单回收站</span></a>
                        </div>

                    </div>
                </div>
                <form id="orderForm" name="orderForm" action="/trademanage/my_order-9.htm" onkeydown="if(event.keyCode==13) return false;" method="post">
                    <div class="orderSearch">
                        <input type="text" placeholder="输入商品名称或者订单号查询" class="orderSearchText" id="orderKey" name="orderKey" />
                        <input type="submit" value="搜索" class="orderBtn" />
                    </div>
                </form>
            </div>


            <div class="filterBox">
                <span>下单时间：</span>
                <select name="timeFlag" id="timeFlag" onchange="changeTimeFlag();">
                    <option value="0" selected="selected">全部时间</option>
                    <option value="1">最近三个月</option>
                    <option value="2">今年内</option>
                    <option value="3">2018年</option>
                    <option value="4">2017年</option>
                    <option value="5">2017年以前</option>
                </select>
            </div>


            <div class="rightCon">
                <div class="myordCon">
                    <ul class="moConHead">
                        <li class="moh1">商品信息</li>
                        <li class="moh2">收货人</li>
                        <li class="moh3">实付金额</li>
                        <li class="moh4">订单状态</li>
                        <li class="moh5">操作</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="moConBox">
                        <div class="moCon-ord">
                            <div class="ord-num">
                                <div class="ord-num-box"><span>订单编号：<a href="http://member.jiuxian.com/trademanage/order_detail-118750578.htm" target="_blank">17190612095310122392</a></span><i>|</i><span class="ord-tim">下单时间：<em>2019-06-12 09:53:10</em></span></div>



                                <div class="shopIcon"><span>酒仙</span><i class="shop-icon jxShop" title="联系酒仙" xnsettingid="jx_1000_1487130563186"></i></div>


                            </div>
                            <table class="ord-detailTab" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <td class="tdmoh1">
                                            <div class="ordPicBox clearfix">



                                                <a class="proId" value="28877" href="http://www.jiuxian.com/goods-28877.html" target="_blank" title="53°国台·品鉴15  500ml">
                                                    <img src="~/Wine/我的酒仙网 ) 我的订单_files/a8aa081133ae4871ab26071d716a31102_002.jpg" alt="" onerror="this.src='http://misc.jiuxian.com/img/goods/hytb.jpg';" title="53°国台·品鉴15  500ml" width="50" height="50" />
                                                </a>



                                                <a class="proId" value="28877" href="http://www.jiuxian.com/goods-28877.html" target="_blank" title="53°国台·品鉴15  500ml">
                                                    <img src="~/Wine/我的酒仙网 ) 我的订单_files/a8aa081133ae4871ab26071d716a31102_002.jpg" alt="" onerror="this.src='http://misc.jiuxian.com/img/goods/hytb.jpg';" title="53°国台·品鉴15  500ml" width="50" height="50" />
                                                </a>
                                            </div>
                                        </td>
                                        <td class="tdmoh2">订单</td>
                                        <td class="tdmoh3">
                                            <!-- TODO ¥$formatUtils.scaleAndRoundHalfUpFormat($!item.payPrice,2)-->
                                            <p class="ord-price">¥796.0</p>
                                            <p>
                                                <!--
                                                 -->
                                                支付宝
                                            </p>
                                        </td>
                                        <td class="tdmoh4">
                                            <div class="opePending">
                                                <span>等待付款</span>
                                            </div>
                                            <div class="opeTracking">
                                                <input type="hidden" class="_orderId" value="118750578" />
                                                <div class="TraBtn"><span>跟踪</span><i></i></div>
                                                <div class="delivery" style="display: none;">
                                                    <span class="arrow"></span>
                                                    <div class="headline2 clearfix">
                                                        <span class="timeD">处理时间</span>
                                                        <span>处理信息</span>
                                                        <a href="javascript:;" class="close"></a>
                                                    </div>
                                                    正在加载，请稍后...
                                                </div>
                                            </div>
                                        </td>
                                        <td class="tdmoh5">
                                            <p><a class="ope01" target="_blank" href="http://member.jiuxian.com/trademanage/order_detail-118750578.htm">查看</a></p>
                                            <p><a class="ope04" href="javascript:;" onclick="location.href='https://cashier.jiuxian.com//cashier/17190612095310122392/081095041f9856a23ffeae8b257c9164/B2C/0/ORDER'">付款</a></p>
                                            <p><a class="ope01 ordPointCancle" href="javascript:;" onclick="is_cancel_order(118750578)">取消订单</a></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="moCon-ord">
                            <div class="ord-num">
                                <div class="ord-num-box"><span>订单编号：<a href="http://member.jiuxian.com/trademanage/order_detail-118750553.htm" target="_blank">17190612095108519999</a></span><i>|</i><span class="ord-tim">下单时间：<em>2019-06-12 09:51:09</em></span></div>





                            </div>
                            <table class="ord-detailTab" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <td class="tdmoh1">
                                            
                                        </td>
                                        <td class="tdmoh2">订单</td>
                                        <td class="tdmoh3">
                                       
                                        </td>
                                        <td class="tdmoh4">
                                            
                                            
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>     <input id="pageNum" type="hidden" value="1" />
            <input type="hidden" id="currRecordSize" value="2" />
            <!-- 翻页begin -->

            <div class="uPageBox clearfix">
                <div class="uPage clearfix">
                    <a href="javascript:void(0);" class="uPrevpage">上一页</a>


                    <a class="num on">1</a>

                    <a href="javascript:void(0)" class="uNnextpage">下一页</a>
                </div>
            </div>
            <!-- 翻页end -->
        </div>    
        <!-- 右侧 -->

 

    <style type="text/css">
        .footerBotLeft .footerInfo {
            margin-left: -8px;
        }

        .footerBotLeft p {
            font-family: Arial, Helvetica, sans-serif, "宋体";
        }

        .footerBotLeft .footerInfo a {
            color: #666;
        }

        .footerBotLeft .copyright {
            color: #666;
        }
    </style>
   
 
    <script type="text/javascript" src="~/Wine/我的酒仙网 ) 我的订单_files/recommend_99.js"></script>
    <script type="text/javascript" src="~/Wine/我的酒仙网 ) 我的订单_files/p_code.js"></script>
    <script type="text/javascript" src="~/Wine/我的酒仙网 ) 我的订单_files/FAI84qYjQk.txt"></script>
    <script type="text/javascript" src="~/Wine/我的酒仙网 ) 我的订单_files/o_code.js"></script>
  
  
</body>
</html>