
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" async="" charset="utf-8" src="~/Wine/我的酒仙网 ) 基本信息_files/pushData.txt"></script>
    <script type="text/javascript" async="" src="~/Wine/我的酒仙网 ) 基本信息_files/mv.js"></script>
    <script type="text/javascript" async="" src="~/Wine/我的酒仙网 ) 基本信息_files/mba.js"></script>
    <script type="text/javascript" async="" src="~/Wine/我的酒仙网 ) 基本信息_files/visittrack.js"></script>
    <script type="text/javascript" async="" src="~/Wine/我的酒仙网 ) 基本信息_files/mvl.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="save" content="history" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate" />
  
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/usercenter-web-pc.js" type="text/javascript"></script>
    <title>我的酒仙网 &gt; 基本信息 </title>
    <link href="~/Wine/我的酒仙网 ) 基本信息_files/base.css" type="text/css" rel="stylesheet" />
    <link href="~/Wine/我的酒仙网 ) 基本信息_files/header.css" rel="stylesheet" type="text/css" />
    <link href="~/Wine/我的酒仙网 ) 基本信息_files/footer.css" rel="stylesheet" type="text/css" />

    <link href="~/Wine/我的酒仙网 ) 基本信息_files/user.css" rel="stylesheet" type="text/css" />
    <link href="~/Wine/我的酒仙网 ) 基本信息_files/user_nav.css" rel="stylesheet" type="text/css" />

    <script src="~/Wine/我的酒仙网 ) 基本信息_files/jquery_007.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/jquery_002.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/base.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/region.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/public.js" type="text/javascript"></script>

    <script src="~/Wine/我的酒仙网 ) 基本信息_files/userCenterCtrlWidth.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/Slider.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/position.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/turn_bottom.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/easing.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/usercenter.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/sidenav.js" type="text/javascript"></script>
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/alert.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="~/Wine/我的酒仙网 ) 基本信息_files/uploadify.css" />
    <script type="text/javascript" src="~/Wine/我的酒仙网 ) 基本信息_files/jquery.js"></script>
    <script type="text/javascript" src="~/Wine/我的酒仙网 ) 基本信息_files/jquery_006.js"></script>
    <script type="text/javascript" src="~/Wine/我的酒仙网 ) 基本信息_files/jquery_005.js"></script>
    <script type="text/javascript" src="~/Wine/我的酒仙网 ) 基本信息_files/jquery_004.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Wine/我的酒仙网 ) 基本信息_files/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/Wine/我的酒仙网 ) 基本信息_files/jquery.css" />
    <script src="~/Wine/我的酒仙网 ) 基本信息_files/md5.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Wine/我的酒仙网 ) 基本信息_files/user_info.js"></script>
    <script type="text/javascript" src="~/Wine/我的酒仙网 ) 基本信息_files/jquery_003.js"></script>
    <script type="text/javascript" src="~/Wine/我的酒仙网 ) 基本信息_files/jquery-ui-datepicker.js"></script>

    <link href="~/Wine/我的酒仙网 ) 基本信息_files/user_1200.css" id="newLink" rel="stylesheet" type="text/css" />
    <!-- <script src="http://misc.jiuxian.com/js/usercenter/Verification.js" type="text/javascript"></script> -->

</head>
<body>


    <script src="~/Wine/我的酒仙网 ) 基本信息_files/skipmobileweb.js"></script>
    <script type="text/javascript">isMobile();</script>
     <!-- 右侧 -->
            <div>
                <div class="rightTit"><h2><i></i>基本信息</h2> <span class="rt-couponInt">完善个人信息，可获得<strong class="redStrong">50</strong>金币！金币可以兑换商品哦，赶快行动吧</span></div>
                <div class="rightCon">
                    <div class="zpBaseInfo">

                        <div class="zpBaseInfoTitle">
                            <ul class="clearfix"><li class="on">个人信息</li><li>头像照片</li><li>更多个人信息</li></ul>
                        </div>
                        <div class="zpPart1 clearfix" id="allInput" style="display:block;">
                            <input type="hidden" id="offenDrink" value="" />
                            <form id="ajaxForm" action="/myaccount/saveUserInfo.htm" method="post" novalidate="novalidate">
                                <input type="hidden" name="cateIds" id="cateIds" />
                                <div class="zpInfo">
                                    <ul class="basePart">
                                        <li class="clearfix">
                                            <p class="zpName">用户名：</p>
                                            <span class="userCheckContact">jxw37733774</span>
                                        </li>
                                        <li class="baseInfoTip">为了您的账户安全，请<a href="#" target="_blank">验证邮箱</a>，现在验证还赠送金币哦。</li>
                                        <li class="clearfix">
                                            <p class="zpName"><strong>*</strong>昵称：</p>
                                            <input type="text" class="name" name="anotherName" id="anotherName" maxlength="20" />
                                            <div class="acc">
                                                <div class="accNotic" style="display:none"><i></i><span>请输入昵称</span></div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <p class="zpName">真实姓名：</p>
                                            <input type="text" class="realName" name="realName" id="realName" maxlength="20" />
                                            <div class="acc">
                                                <div id="realNameTS" class="accNotic" style="display:none"><i></i><span>请输入真实姓名</span></div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <p class="zpName"><strong>*</strong>性别：</p>
                                            <input class="zpSex" type="radio" name="sex" checked="checked" value="1" /><span class="zpSexText">男</span>
                                            <input class="zpSex" type="radio" name="sex" value="2" /><span class="zpSexText">女</span>
                                        </li>
                                        <li class="clearfix">
                                            <p class="zpName"><strong>*</strong>生日：</p>

                                            <input type="text" name="birthday" class="birthday Wdate hasDatepicker" id="setBirthday" 　readonly="readonly" />
                                            <input type="hidden" name="birthday" id="birthday" />
                                            <div class="bDay">填写生日有惊喜哦~，只有一次填写机会！</div>
                                            <div class="acc">
                                                <div class="accNotic" style="display:none"><i></i><span>请选择生日</span></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="clearfix">
                                            <p class="zpName">手机：</p>
                                             <input  type="text" id="phone"/>
                                        </li>

                                        <li class="clearfix">
                                            <p class="zpName">地区：</p>
                                            <select name="province" id="province">
                                                <option value="" selected="selected">请选择</option>

                                            </select>
                                            <select name="city" id="city">
                                                <option value="" selected="selected">请选择</option>
                                            </select>
                                            <select name="district" id="district">
                                                <option value="" selected="selected">请选择</option>
                                            </select>
                                            <select name="street" id="street">
                                                <option value="" selected="selected">请选择</option>
                                            </select>
                                            <div id="streetDiv" class="acc">
                                                <div class="accNotic" style="display:none"><i></i><span>请选择地区</span></div>
                                            </div>
                                        </li>
                                        <li class="zpTags clearfix">
                                            <p class="zpName">常喝的酒：</p>

                                        </li>
                                        <li class="clearfix">
                                            <p class="zpName">喜欢的酒类品牌：</p>
                                            <textarea name="likeBrand" id="likeBrand" maxlength="60"></textarea>
                                        </li>
                                        <li class="clearfix">
                                            <p class="zpName">详细地址：</p>
                                            <input class="detailAdd" type="text" id="addressMore" name="addressMore" maxlength="60" />
                                            <div class="acc"><div id="addressMoreTS" class="accNotic" style="display:none"><i></i><span></span></div></div>
                                        </li>

                                    </ul>
                                </div>
                                <input type="submit" class="submitZpInfo" value="提&nbsp;交" id="saveInfo" />
                                <input type="hidden" id="addressId" value="" />
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- 右侧 -->

        <style type="text/css">
            .footerBotLeft .footerInfo {
                margin-left: -8px;
            }

            .footerBotLeft p {
                font-family: Arial, Helvetica, sans-serif, "宋体";
            }

            .footerBotLeft .footerInfo a {
                color: #666;
            }

            .footerBotLeft .copyright {
                color: #666;
            }
        </style>



        <script type="text/javascript" src="~/Wine/我的酒仙网 ) 基本信息_files/recommend_99.js"></script>
        <script type="text/javascript" src="~/Wine/我的酒仙网 ) 基本信息_files/p_code.js"></script>
        <script type="text/javascript" src="~/Wine/我的酒仙网 ) 基本信息_files/FAI84qYjQk.txt"></script>
        <script type="text/javascript" src="~/Wine/我的酒仙网 ) 基本信息_files/o_code.js"></script>






</body>
</html>
