
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div id="await">
       
    </div>
</body>
</html>



<script>
    $(function () {
        getgoodsdata();
    })
    function getgoodsdata() {
        $.ajax({
            url: 'http://localhost:50169/api/goods/getgoodslist',
            success: function (data) {
                console.log(data);
                $(data).each(function () {
                    $("#await").append('<span>' + this.goodsName + '</span><span>' + this.priceNow + '</span>');
                })

            }
        })
    }
</script>
